body {
    background: azure;
    padding: 5%;
}

#vote-check {
    margin-left: 2%;
}

#selection-div {
    display: block;
    margin: 2%;
}

#selection {
    font-size: 18px;
}

#logout {
    background: pink;
}

#title-spacer {
    margin-bottom: 5% !important;
}

#poll-form {
    margin-top: 2% !important;
}

.field-spacer {
    margin: 0 0 1% !important;
}

.top-spacer {
    margin-top: 2% !important;
}

.right-set {
    margin-left: 90% !important;
}