body {
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5%;
}

#vote-check {
    margin-left: 2%;
}

#selection {
    font-size: 18px;
}

#logout {
    background: pink;
}

#title-spacer {
    margin-bottom: 5% !important;
}

#poll-form {
    margin-top: 2% !important;
}

#chart_div {
    width: 90%;
    height: 50%;
}

.center-hr {
    width: 20%;
}

.field-spacer {
    margin: 0 0 1% !important;
}

.top-spacer {
    margin-top: 2% !important;
}

.right-set {
    margin-left: 92% !important;
}

.selection-div {
    display: block !important;
    margin-bottom: 3%;
}

@media screen and (max-width: 600px) {
    .right-set {
        margin-left: 75% !important;
    }   
}
